/*------------------------------------------------------------------
[Custom Template Stylesheet]

Project:	Cosmetic Agency Html Responsive Template
Version:	1.1
Primary use:	Cosmetic Agency Html Responsive Template
-------------------------------------------------------------------*/

/*add your style css here*/

/*---------Area de contacto---------*/

.message_box {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    max-width: 80%;
    padding: 2em;
    line-height: 1.2em;
    border: 1px solid #07759C;
    background-color: #B6DDF3;
    color: #07759C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 4px 4px 16px 0 rgba(0, 0, 200, 0.3);
    -moz-box-shadow: 4px 4px 16px 0 rgba(0, 0, 200, 0.3);
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 200, 0.3);
}

form .message_box {
    min-width: 60%
}
.message_box_error {
    border: 1px solid #A00000;
    background-color: #FDCDCD;
    color: #A00000;
    -webkit-box-shadow: 4px 4px 16px 0 rgba(200, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 16px 0 rgba(200, 0, 0, 0.3);
    box-shadow: 4px 4px 16px 0 rgba(200, 0, 0, 0.3);
}
.message_box_success {
    border: 1px solid #00A000;
    background-color: #CDFDCD;
    color: #00A000;
    -webkit-box-shadow: 4px 4px 16px 0 rgba(0, 200, 0, 0.3);
    -moz-box-shadow: 4px 4px 16px 0 rgba(0, 200, 0, 0.3);
    box-shadow: 4px 4px 16px 0 rgba(0, 200, 0, 0.3);
}
.message_box p {
    margin: 0;
    line-height: 1.2em;
}
.message_box p+p {
    margin-top: 0.2em;
}

#CargadorEnviar {
    font-size: 30px;
    color: #fff;
    display: none;
}

.contact-map {
    height: 520px;
}
/*---------Area de contacto ---------*/

#aboutus-section{
    font-size: 16px;
}

.share-icon a{
    font-size: 23px;
    padding: 0 5px;
    margin-top: 0px;
}

.share-icon a:hover{
    padding: 0 20px;
}

.slider-blog{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*------ About Us Section -----*/
#aboutus-section > .container{
    border-bottom: 1px solid #DDD;
}

.img-aboutus {
    float:left;
    padding: 20px;
    width: 40%;
}

.img-aboutus img {
    padding-right: 20px;
}

.text-aboutus {
    padding: 20px;
}
/*------ /About Us Section -----*/

/*----- Galleries ------*/
.gallery-content {
    border: 1px solid #ededed;
}

.gallery-content h4 {
    text-align: center;
    padding: 5px;
}

.gallery-content i {
    float: right;
}

.gallery-item {
    text-align: center;
}

.gallery-item h3{
    color: #896E4B;
}
/*----- /Galleries ------*/

/*----- SHOP ------*/
/* -------- Cambios -------*/
.cat_active {
    color:#896E4B !important;
}

.shop-sidebar .widget li a{
    color:#898989;
}
.shop-sidebar .widget li div:hover{
    color:#896E4B;
    text-decoration: none;
    padding-left: 5px;
}

.shop-pages .shop-links-widget div .caret{
    position: absolute;
    right: 0;
    top: 10px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.shop-pages .shop-links-widget div[aria-expanded="true"] .caret{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.shop-pages .shop-links-widget div[aria-expanded="false"] .caret{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.shop-pages .shop-links-widget .panel-title div{
    font-size: 14px;
    font-weight: 400;
    color: #898989;
    display: block;
    width: 100%;
    position: relative;
    padding: 0px 0px 10px;
    text-transform: uppercase;
}
.shop-pages .shop-links-widget .panel-title div:hover {
    text-decoration: none;
    color: #896E4B;
}

.shop-sidebar .widget.widget_size li div, .list-colors li div{
    border:1px solid #f1f1f1;
    display:inline-block;
    height:35px;line-height:32px;
    margin-bottom:10px;
    margin-right:10px;
    text-align:center;
    width:35px;
}
.shop-sidebar .widget.widget_size li div:hover,.shop-sidebar .widget.widget_size li div:focus,
.list-colors li div:hover, .list-colors li div:focus{
    border-color:#333;
}
.shop-sidebar .widget-title:after{
    background:#896E4B;
    height:1px;
    width:25px;
    position:absolute;
    bottom:0;
    left:0;
    content:"";
}
.shop-sidebar .widget li div, .list-colors li div{
    color:#898989;
}
.shop-sidebar .widget li div:hover, .list-colors li div:hover{
    color:#896E4B;
    text-decoration: none;
    padding-left: 5px;
}
.shop-sidebar .widget.widget_size li div:hover, .list-colors li div:hover {
    color: #fff;
    background-color: #3f3f3f;
    text-decoration: none;
    padding-left: 0px;
}

.p-color {
    width: 100%;
}

.c-active {
    border-color:#333 !important;
}

.list-colors {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    padding: 10px;
    cursor: pointer;
}

.list-colors li{
    display: inline-block;
}

.l-color {
    width: 35px;
}

.review {
    padding: 2% 6%;
    color: #535353;
    font-size: 16px;
    border-top: 10px ridge #b7986c;
    margin: 20px 30px 30px 20px;
}

.cart-product-remove div{
    color:red;
    cursor: pointer;
}

.error_cart, .error {
    color: #882607;
}

.success_cart {
    color: #42882c;
}

.wait_cart {
    color: #181f67;
}

.row_msg {
    display: none;
}
.row_msg td {
    padding: 5px;
    height: auto;
}
.row_msg td p{
    text-align: center;
}

.total-cart strong{
    text-transform: uppercase;
}

.total-cart {
    padding:10px;
}

.sepCart {
    border-bottom: 1px solid #a9a9a94a;
    border-top: 1px solid #a9a9a94a;
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #896E4B;
}
/*----- /SHOP ------*/

/*----- Menu -----------*/
.item-cat {
    padding-top: 10px !important;
    padding-bottom:10px !important;
    border-top: #896E4B 3px solid;
}
@media only screen and (max-width: 767px) {
    .item-cat {
        border-top: rgba(255,255,255,0) 1px solid;
    }
}

.btn-login {
    cursor: pointer;
}

.btn-login:hover {
    color:#000000;
}

.modal-header {
    background-color: #896E4B;
    color: #ffffff;
}

.modal-body {
    padding: 20px;
}

.modal-header div {
    font-size: 23px;
    text-transform: uppercase;
}

.dropdown-menu.singin {
    left: auto;
    right: -10px;
    position: absolute;
    width: 200px;
    padding: 1px 0 0 0;
    border-top-width: 0;
    background-color: #ab8d62;
}

.dropdown-menu.singin >li.user-header{
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 0;
    width: 100%;
}

.dropdown-menu.singin >li.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 0;
    width: 100%;
}
/*----- /Menu -----------*/

/* ----- CHECKBOX ---------*/

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox a{
    color: #896E4B;
    display: inline;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.formulario > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.formulario label {
    display: inline-block;
    cursor: pointer;
    color: #898989;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.formulario label:hover {
    background: rgba(0, 116, 217, 0.1);
}
.formulario label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #896E4B;
    margin-top: 7px;
}
.formulario input[type="radio"] {
    display: none;
}
.formulario input[type="radio"]:checked + label:before {
    display: none;
}
.formulario input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #896E4B;
    border-radius: 2px;
    color: #fff;
}

.new_address:before {
    margin-top: 2px !important;
}

/* ----- /CHECKBOX ---------*/

/* ------ ACCOUNT ---------*/
#msg-account {
    display: none;
    padding: 5px 20px;
}

.input-file-button {
    font-size: 17px;
    color: #896E4B;
    cursor: pointer;
}

.input-file-button:hover {
    color: #000000;
}

.divDelete {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 1px solid #EDEDDE;
    padding: 8px 0;
    border-radius:0;
    cursor: pointer;
}
.divDelete {
    color: #666;
    font-size: 0.9em;
    border-radius:0;
}
.divDelete:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
/* ------ /ACCOUNT ---------*/

.t-product {
    height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t-product:hover {
    overflow: auto;
}

.hidden {
    display: none;
}

.ppt_com {
    background-color: #BABD31;
    text-align: center;
}

.ppt_com span {
    color: #4F5159;
}

.ppt_com a {
    color: #2d2f37;
    font-weight: bold;
}

/* ------- DISTRIBUTION ---------*/
.distribution-img img {
    border: 1px solid #4f5159;
    padding: 2px;
    max-width: 150px;
}

/* -------- ACCOUNT ADDRESS --------*/
.trash-address {
    float: right;
    cursor: pointer;
    font-size: 23px;
}

.trash-address:hover {
    color: #896E4B;
}

.text-address {
    color: #666;
    font-size: 0.9em;
}

.trash-confirm {
    float: right;
    display: none;
}

.trash-confirm i {
    font-size: 23px;
    cursor: pointer;
    padding: 8px;
}

.trash-error {
    float: right;
    display: none;
    color: #882607;
}

.trash-spinner {
    float: right;
    display: none;
    font-size: 30px;
}

@media (min-width: 768px) {
    .img_index {
        height: 282px;
    }
}

.cat_menu {
    font-size: 14px;
    text-transform: uppercase;
}

.div-leave {
    cursor: pointer;
    color: #896E4B;
    display: inline-block;
}

.div-leave:hover {
    color: #000000;
}

.nv-contact a {
    background-color: #896E4B;
    color: #ffffff;
}