/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Cosmetic Agency Html Responsive Template
Version:	1.1
Last change:	01/06/2017
Primary use:	Cosmetic Agency Html Responsive Template
-------------------------------------------------------------------*/

@import url("default-template-style.css");
@import url("shop-style.css");
@import url("template-blog.css");
@import url("awesomenav.css");
@import url("awesomenav-style.css");
@import url("awesomenav-animate.css");

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. loader
3. Nav
4. Page Tilte
5. Shop Block
6. Super deal
7. Featured- product
8. Blog
9. newsletter
10. footer
11. Contact
12. Responsive Media Screen style

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Color codes]

# Black (text): #1b1b1b
# Blue : #896E4B

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body :		'Lato', sans-serif;
Title and logo:		'Montserrat', sans-serif;

-------------------------------------------------------------------*/



/*---Body---*/

/*loader start */
.loader {
    background: #000000;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1200;
}

.loader > div {
    margin: auto;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.loader > div > div {
    position: relative;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}

/*.imgLoader {
    animation : scales 0.5s ease infinite alternate;
}

@keyframes scales{
    from{transform : scale(0.8)}
    to{transform: scale(1.1)}
}*/

/*loader End */


html,
	body {
	  height: 100%;
	  width: 100%;
	}
	
body {
	color:#898989;
  	font-family: 'futura-light', sans-serif;
}

a {
	color: #896E4B;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.btn, .btn:hover {
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
a:hover,
a:focus {
	color: #896E4B;
	outline: none;
	outline-offset: 0px;
	text-decoration:none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'futura-light', sans-serif;
	color:#1b1b1b;
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
}

.pink{
	color:#896E4B;
}
.white{
	color: #fff;
}
.black{
	color:#1b1b1b;
}
.gray{
	color:#898989;
}
.bg-pink{
	background-color:#896E4B;
}
.light-gray{
	background-color:#f7f7f7;
}
section{
	padding:40px 0px;
}

/*--- Nav ---*/
nav{
	font-family: 'futura-light', sans-serif;
}
@media (max-width: 991px) and (min-width: 768px){
.top-bar-nav .wrap-sticky nav.navbar.divinnav.sticked {
    top: 24px;
}
}
.navbar-default {
    background-color: #fff;
    border: none;
	margin-bottom: 0;
}
nav.navbar.awesomenav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	border-bottom: none;
}
/*--- Nav top bar ---*/

.top-container {
    float: left;
    width: 100%;
    color: #fff;
    padding: 5px 0;
	background-color: #896E4B ;
}
.top-column-left, .top-column-right {
    float: left;
}
.top-social-network, ul.contact-line, ul.register {
    float: left;
    margin: 0;
    padding: 0;
}
ul.register {
	margin-right: 15px;
}
ul.contact-line li:first-child {
    border-left: none;
    padding: 0;
}
ul.contact-line li, ul.register li {
    float: left;
    font-size: 12px;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.top-column-right {
    float: right;
}
.top-social-network a {
    margin: 2px;
}
.top-container a, .top-container a:hover, .top-container a:focus, .top-container a:active {
    color: #fff;
}

@media (max-width: 767px) {
.top-container .top-column-left {
	display: none;
}
.top-container .top-column-right {
    padding-right: 15px;
}
.top-container {
	font-size:13px;
}
}




/*---heading---*/

/*---Page Tilte---*/


.page_title_ctn {
    padding-top: 15px;
    padding-bottom: 15px;
	background-color:#896E4B;
    background-size: cover;
    border-bottom: 1px solid #ecf0f1;
}
.page_title_ctn h1, .page_title_ctn h2, .breadcrumb, .breadcrumb a, .breadcrumb li.active {
    color: #ffffff;
}
.breadcrumb li.active span {
    text-decoration:underline;
}
.page_title_ctn h2 {
    font-weight: 400;
	margin-top:10px;
    font-size: 24px;
    line-height: 34px;
    max-width: 420px;
    float: left;
}
.breadcrumb {
    margin-bottom: 20px;
    list-style: none;
	background-color: transparent; 
	border-radius: 0px; 
    position: relative;
    margin-top: 15px;
    float: right;
    margin-bottom: 0;
	padding:0;
}
.breadcrumb > li + li:before {
    color: #fff;
}




/*---Shop Block---*/

.product-slide {
	border: 5px solid #fff;
	/*background-color: #f5f5f5;*/
}
.product-slide .row{
	width: auto ;
	height: auto;
	margin: 0 auto;
}
.tabSix .nav-tabs{
	border-bottom:none;
}
.tabSix .nav-tabs>li>a{
	margin-right:0px;
	line-height:1.42857143;
	background-color:transparent;
	border-style:solid;
	border-color:#898989;
	color:#999;
	border-width:0px 0px 0px 0px;
	border-radius:0px;
	padding:10px 25px;
	font-weight:600;
}
.tabSix .nav-tabs>li.active>a, .tabSix .nav-tabs>li.active>a:focus, .tabSix .nav-tabs>li.active>a:hover, .tabSix .nav-tabs>li>a:hover{
	color:#000;
	cursor:pointer;
	border-width:0px 0px 0px 0px;
	background-color: transparent;
}
.tabSix .nav-tabs li a p{
	margin-bottom:0;
	font-size:1.7142857142857142em;
	font-family: 'futura-light', sans-serif;
	text-transform: uppercase;
}
.tabSix .nav-tabs li {
	display: inline-block;
	float: none;
}
@media (min-width: 768px) {
.tabSix .tab-content{
	margin-top:24px;
}
}
.sep-dot {
    font-size: 50px;
    line-height: 0;
    vertical-align: super;
	display: none;
}
.tabSix ul li::after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f111";
    display: inline-block;
    position: absolute;
    right: -4px;
    top: 25px;
    font-size: 10px;
}
.tabSix ul li:last-child::after{
	display: none;
}


/*---super-deal-section---*/

.super-deal-section{
	background-color: #000;
	border: 5px solid #fff;
}
.super-deal h1{
	color: #fff;
	font-weight: 600;
}
.super-deal h1 span{
	color: #896E4B;
}
.super-deal a.btn {
    border: 1px solid #ccc;
    padding: 10px 25px;
	color: #fff;
}
.super-deal a.btn:hover {
    border: 1px solid #896E4B;
    color: #896E4B;
	background-color: #fff;
}
.demo2.dsCountDown {
    margin-bottom: 30px;
    margin-top: 20px;
    display: block;
}
.ds-element {
    display: inline-block;
    width: auto;
    text-align: center;
    margin-right: 15px;
}
.ds-element-value {
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: block;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
}
.ds-element-title {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
}
.super-deal {
    margin-top: 50px;
}
@media only screen and (max-width: 991px) {
.ds-element-value {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: block;
    font-size: 24px;
    line-height: 50px;
}
.demo2.dsCountDown {
    margin-bottom: 20px;
    margin-top: 0px;
    display: block;
}
.super-deal {
    margin-top: 0px;
}
.super-deal h1 {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
}

/*---featured-product---*/
.featured-product{
	border: 5px solid #fff;
	background-color: #f5f5f5;
}

/*---Blog Post---*/

.blog-title a {
    color: #333;
}
.blog-img .bubble-top:before {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top;
    transition-property: top;
    left: calc(50% - 20px);
    bottom:0;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #fff transparent;
}
.blog-img .bubble-bottom:before {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top;
    transition-property: top;
    left: calc(50% - 20px);
    top:0;
    border-width: 20px 20px 0 20px;
    border-color: #fff transparent transparent transparent;
}
.ImageWrapper .PStyleHe {
    position: absolute;
    background: url(../images/plus.png) no-repeat scroll center center / 100% 100% #222222;
    width: 100%;
    height: 100%;
    z-index: 199;
    -webkit-background-origin: padding-box, padding-box;
    -moz-background-origin: padding-box, padding-box;
    -ms-background-origin: padding-box, padding-box;
    -o-background-origin: padding-box, padding-box;
    background-origin: padding-box, padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 10px, 100% 100%;
    -moz-background-size: 10px 10px, 100% 100%;
    -ms-background-size: 10px 10px, 100% 100%;
    -o-background-size: 10px 10px, 100% 100%;
    background-size: 10px 10px, 100% 100%;
    opacity: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.ImageWrapper {
    display: block;
    overflow: hidden;
    position: relative;
}
.ImageWrapper:hover .PStyleHe {
    opacity: .6;
    -webkit-background-size: 60px 60px, 100% 100%;
    -moz-background-size: 60px 60px, 100% 100%;
    -ms-background-size: 60px 60px, 100% 100%;
    -o-background-size: 60px 60px, 100% 100%;
    background-size: 60px 60px, 100% 100%;
    visibility: visible;
}
.blog-content{
	padding: 10px;
	min-height: 219px;
}
@media only screen and (max-width: 1024px) {
	.blog-content {
		min-height: 182px;
	}
}
@media only screen and (max-width: 991px) {
	.blog-content {
		padding: 1px 10px;
		min-height: 141px; 
	}
	.blog-title h4{
		margin-top: 0;
		margin-bottom: 5px;
	}
	.post-date{
		margin-bottom: 5px;
	}
	.post-content{
		margin-bottom: 10px;
	}	
}
@media only screen and (max-width: 767px){
	.blog-content {
		padding: 15px;
		min-height: 170px;
		background-color: #f7f7f7;
		margin-bottom: 10px;
	}
	.blog-img .bubble-top:before {
    	border-color: transparent transparent #f7f7f7 transparent;
	}
	.blog-img .bubble-bottom:before {
		border-color: #f7f7f7 transparent transparent transparent;
	}
}

/*---Blog Style 1---*/
.blogstyle-1 .blog-post-container {
	margin-bottom:15px;
}
.blogstyle-1 .blog-post-container .post-thumbnail {
	position: relative;
}
.blogstyle-1 .blog-post-container .post-thumbnail img {
	width: 100%;
}	
.blogstyle-1 .blog-post-container .blog-content {
	border: 1px solid #ededed;
}
.blogstyle-1 .blog-post-container .dart-header {
	padding: 20px 20px 0;
}
.blogstyle-1 .blog-post-container .dart-title {
	text-transform: capitalize;
}
.blogstyle-1 .blog-post-container .dart-title a {
	color: #333;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta {
	font-size:0.7142857142857143em;
	text-transform: uppercase;
}
.blogstyle-1 .blog-post-container .dart-footer .dart-meta {
	margin-bottom:0px;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li {
	display: inline-block;
	border-right: 1px solid #E7E7E7;
	line-height: 10px;
	padding-right: 15px;
	margin-right: 15px;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li:last-child {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li a {
	color: #898989;
}
.blogstyle-1 .blog-post-container .dart-content {
	padding: 20px;
}
.blogstyle-1 .blog-post-container .dart-content p {
	margin: 0;
}
.blogstyle-1 .blog-post-container .dart-footer {
	background-color: #f7f7f7;
	padding: 8px 20px;
	border-top: 1px solid #ebebeb;
}
.blogstyle-1 .blog-post-container .dart-footer .dart-meta a {
	color: #898989;
	font-size:0.8571428571428571em;
	text-transform: capitalize;
}
#blogstyle-1Slider .carousel-control.left, #blogstyle-1Slider .carousel-control.right {
	background-image: none;
	background-color: #fff;
}
#blogstyle-1Slider .carousel-control {
	top: 50%;
	margin-top: -13px;
	bottom: auto;
	width: 26px;
	height: 26px;
	font-size: 18px;
	color: #898989;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
}
.blogstyle-1 .blog-post-container .play-trigger {
	position: absolute;
	left: 50%;
	top: 55%;
	width: 70px;
	height: 45px;
	margin-left: -30px;
	margin-top: -30px;
	border: 0;
	border-radius: 10%;
	color: #fff;
	background: #cd201f;
	font-size:1.4285714285714286em;
	line-height: 45px;
	text-align: center;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.blogstyle-1 .blog-post-container .play-trigger i {
	margin-left: 5px;
}
.blogstyle-1 .blog-post-container .play-trigger:hover {
	color: #cd201f;
	background: #fff;
}
.blogstyle-1 .blog-post-container .dart-title a:hover, .blogstyle-1 .blog-post-container .dart-title a:focus {
	color: #896E4B;
	text-decoration:none;
}
.blogstyle-1 .blog-post-container .dart-footer .dart-meta a:hover, .blogstyle-1 .blog-post-container .dart-footer .dart-meta a:focus  {
	color: #896E4B;
	text-decoration:none
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li a:hover, .blogstyle-1 .blog-post-container .dart-header .dart-meta li a:focus {
	color: #896E4B;
	text-decoration:none;
}
@media (max-width : 991px) {
.blogstyle-1 .blog-post-container .dart-header {
	padding: 5px 10px 0;
}
.blogstyle-1 .blog-post-container .dart-content {
	padding: 10px;
}
.blogstyle-1 .blog-post-container .dart-footer {
	padding: 8px 10px;
}
}
	
/*---newsletter---*/

.newsletter-bg{
	background-image: url(../../examples/newsletter.jpg);
	background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
	padding-bottom: 60px;
}
.newsletter-bg form {
    text-align: center;
}
.newsletter {
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.form-inline .newsletter .form-control {
    border: 1px solid #896E4B;
    border-radius: 0;
    width: 280px;
}
.newsletter .btn-default {
    border: 1px solid #896E4B;
    border-radius: 0;
    background-color: #896E4B;
    color: #fff;
	-webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.newsletter .btn-default:hover {
    border: 1px solid #896E4B;
    background-color: #fff;
    color: #896E4B;
	-webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.newsletter .btn-default i {
	margin-left: 15px;
}
@media only screen and (max-width: 991px) {
	.newsletter-bg{
		background-position: top ;
	}
	.newsletter .btn-default {
		margin-top: -1px;
	}
}


/*---footer---*/
.footer {
    text-align: center;
    padding: 80px 0px 0px;
	background-color: #f3f3f3;
}
.footer h3 {
    font-weight: normal;
	text-transform: uppercase;
}
.footer .social h5 {
    color: #898989;
	font-weight: normal;
	text-transform: uppercase;
}
.footer .social {
	margin-top: 50px;
	margin-bottom: 30px;
}
.footer .social a{
	color: #666;
}
.footer .social a:hover{
	color: #896E4B;
}
.footer .copy p {
   margin-bottom: 0;
}
.footer .copy {
    background-color: #111;
    color: #fff;
    padding: 15px 0px;
}
.footer .copy p span {
   color: #896E4B;
}

@media only screen and (max-width: 991px) {
	.footer .social {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.footer {
		padding: 30px 0px 0px;
	}
}


/*---contact form---*/	

.contactus-one .contact-form .form-control {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	background-color: transparent;
	color: #8e8e8e;
	height: 50px;
}
.contactus-one .contact-form .form-control {
	border-bottom: 1px solid #ccc;
	box-shadow: none;
}
.contact-info > div > p {
	margin-bottom: 10px;
}
.contactus-one .contact-info p i {
	margin-right: 15px;
	color: #896E4B;
}
.map iframe {
	pointer-events: none;
	width: 100%;
	border: none;
}
.map {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.map iframe{
	pointer-events: none;
	width:100%;
	border:none;
}
.contactus-one .dart-headingstyle-one .dart-heading:after{
	left:15px;
}






/*---Responsive Media Screen style---*/


@media only screen and (max-width: 3500px) {
/*body*/
body {
    overflow-x: hidden;
}
}
	
@media only screen and (max-width: 2500px) {}

@media only screen and (max-width: 2100px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1566px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (min-width: 1300px) {}

@media only screen and (max-width: 1280px) {}

@media (min-width: 1280px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1024px) {
	body{
		font-size:100%;
	}
}

@media only screen and (max-width: 991px) {
	body{
		font-size:100%;
	}
	.attr-nav > ul > li {
		padding: 0px 0px;
	}
	.attr-nav > ul {
		margin: 5px -15px -7px 0;
	}
}


/*--------------iPhone 6 plus landscape----------------*/
@media only screen and (max-width: 767px) {
	body{
		font-size:100%;
	}	
	nav.navbar.awesomenav .navbar-brand {
		width: auto;
		display: inline;
		top: 12px;
		padding: 12px;
	}
	.navbar-brand img.logo {
		width: 50%;
		display: inline-block;
		max-width: 120px;
        margin-bottom: 20px;
	}

    .
}

/*--------------iPhone 6 landscape----------------*/
@media only screen and (max-width: 667px) {}

/*--------------iPhone 5 landscape----------------*/
@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 480px) {}

/*--------------iPhone 6 plus portrait----------------*/
@media only screen and (max-width: 414px) {}

/*--------------iPhone 6 portrait----------------*/
@media only screen and (max-width: 375px) {}

/*--------------iPhone 5 portrait----------------*/
@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 300px) {}

@media only screen and (max-width: 200px) {}


